@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  * {
      box-sizing: border-box;
  }
  
  html {
      height: 100%;
  }
  
  body {
      margin: 0px;
      height: 100%;
  }
  
  header {
      text-align: center;
  }
  
  h1 {
      font-family: 'Comfortaa', sans-serif;
      margin: 0px;
      .0
  }
  
  div#change_username, section#input_zone {
      border: 5px outset #8258FA;
  }
  
  div#change_username {
      height: 3%;
      display: inline-block;
      background-color: #BCA9F5;
  }
  
  section#chatroom {
      border: 5px inset #8258FA;
      height: 85%;
      overflow: auto;
  }
  
  section#input_zone {
      height: 7%;
      text-align: center;
      background-color: #BCA9F5;
  }
  
  .vertical-align {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  }
  
  input#username {
      font-family: 'Comfortaa', sans-serif;
  }
  
  input#message {
      display: inline-block;
      width: 88%;
      height: 70%;
      font-family: 'Comfortaa', sans-serif;
      font-size: 2vh;
  }
  
  button#send_message {
      display: inline-block;
      height: 70%;
      width: 10%;
  }
  
  p.message {
    position: relative;
    padding: 10px 20px;
    background: #8cb3b0;
    border-radius: 25px;
    color: black;
    float: left;
    clear:both;
    margin-left: 5px;
  }
p.message:before {
        content: "";
        position: absolute;
        z-index: 2;
        bottom: -2px;
        left: -7px;
        height: 20px;
        border-left: 20px solid #8cb3b0;
        border-bottom-right-radius: 16px 14px;
        -webkit-transform: translate(0, -2px);
      }
p.message:after {
        content: "";
        position: absolute;
        z-index: 3;
        bottom: -2px;
        left: 4px;
        width: 26px;
        height: 20px;
        background: white;
        border-bottom-right-radius: 10px;
        -webkit-transform: translate(-30px, -2px);
      }
  
  .message:nth-child(even) {
      background-color: #fffdc3;
      border-left: #fffdc3 !important;
      
  }

  .message:nth-child(odd) {
      background-color: #8cb3b0;
  }